:root{

--sage:#D9DCC6;
--green:#5E6F59;
--gold:#B59A6A;
--white:#ffffff;

}

body{

font-family:'Poppins',sans-serif;
background:#fafaf8;

}

.hero{

height:100vh;

background:linear-gradient(rgba(255,255,255,.35),rgba(255,255,255,.35)),
var(--sage);

display:flex;

align-items:center;

justify-content:center;

position:relative;

overflow:hidden;

}

.hero-content{

position:relative;
z-index:2;

}

.invite-text{

letter-spacing:4px;

font-size:18px;

color:#455043;

}

.couple-name{

font-family:'Great Vibes',cursive;

font-size:90px;

color:#25352b;

}

.date{

font-family:'Cormorant Garamond',serif;

font-size:42px;

margin-top:20px;

}

.time{

font-size:24px;

letter-spacing:2px;

}

.section-title{

font-family:'Cormorant Garamond',serif;

font-size:50px;

margin-bottom:40px;

}

#timer{

font-size:35px;

font-weight:bold;

color:#5E6F59;

}

.btn-success{

background:#5E6F59;

border:none;

}

.btn-success:hover{

background:#4b5a46;

}

@media(max-width:768px){

.couple-name{

font-size:60px;

}

.date{

font-size:32px;

}

}
